body {
    background-color: rgb(19, 19, 19);
    color: aliceblue;
}


.navbar-brand img {
    width: auto;
    /* Defina a largura da imagem como automática */
    height: 2rem;
    /* Defina a altura da imagem */
    /* A altura pode ser ajustada conforme necessário para corresponder ao tamanho do texto original */
    /* Certifique-se de que a largura e a altura proporcionais mantenham a proporção da imagem */
}