body {
    background-color: rgb(19, 19, 19);
    color: aliceblue;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.iconssocial {
    display: inline-block;
    transition: transform 0.2s;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-brand img {
    width: auto;
    /* Defina a largura da imagem como automática */
    height: 2rem;
    /* Defina a altura da imagem */
    /* A altura pode ser ajustada conforme necessário para corresponder ao tamanho do texto original */
    /* Certifique-se de que a largura e a altura proporcionais mantenham a proporção da imagem */
}

.background2 {
    background-color: rgb(27, 27, 27);
}

.background3 {
    background-color: #303030;
    color: aliceblue;
}

