{% extends 'base.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger error-message" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
        <div class="border-3 rounded p-4 background2">
          <h2 class="mb-4 text-center">Bem-vindo</h2>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_username" class="form-label">Usuário:</label>
              <input type="text" name="username" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label">Senha:</label>
              <input type="password" name="password" class="form-control" required />
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary btn-lg" type="submit">Entrar</button>
            </div>
            <div class="text-end mt-3">
              <a href="{% url 'password_reset' %}" class="btn btn-link" style="text-decoration: none;">Esqueci minha senha</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Função para ocultar as mensagens de erro após 5 segundos
    function hideErrorMessages() {
      const errorAlerts = document.querySelectorAll('.error-message')
      errorAlerts.forEach((alert) => {
        setTimeout(() => {
          alert.style.display = 'none'
        }, 10000) // 5000 milissegundos = 5 segundos
      })
    }
    window.onload = hideErrorMessages
  </script>
{% endblock %}
