{% extends 'base.html' %}

{% block title %}Resetar Senha{% endblock %}

{% block content %}
<div class="d-flex justify-content-center m-5">
    <div class="col-md-4">
        <h1 class="text-center">Resetar Senha</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mt-3">
                <label for="id_email" class="form-label">Email:</label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <input type="email" name="email" class="form-control" id="id_email">
                </div>
            </div>
            <button class="btn btn-warning mt-3" type="submit">
                <i class="fas fa-key"></i> Resetar
            </button>
        </form>
    </div>
</div>
{% endblock %}