{% extends 'base.html' %}

{% block title %}Resetar Senha{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="border-3 rounded p-4 background2">
                <h2 class="mb-4 text-center">Solicitação de Nova Senha</h2>
                <p class="text-center">Enviamos um e-mail com instruções para definir sua senha. Se eles não chegarem em alguns minutos, verifique sua pasta de spam.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
