{% extends 'base.html' %}

{% block title %}
  Na Régua
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

        <div class="p-4 background2 border-3 rounded">
          <h2 class="text-center mb-4">Registro de Serviço</h2>
          <div id="formularioContainer">
            <form method="post" action="{% url 'adicionar_corte' %}">
              {% csrf_token %}

              <div class="mb-3">
                <label for="id_datetime_agendamento" class="form-label">Data e Hora:</label>
                <input type="datetime-local" name="datetime_agendamento" class="form-control" id="id_datetime_agendamento" required />
              </div>

              <div class="mb-3">
                <label for="id_nome_cliente" class="form-label">Nome do cliente:</label>
                <input type="text" name="nome_cliente" class="form-control" id="id_nome_cliente" required />
              </div>

              <div class="mb-3">
                <label for="id_telefone" class="form-label">Telefone:</label>
                <input type="text" name="telefone" class="form-control" id="id_telefone" required />
              </div>

              <div class="mb-3">
                <label for="id_barbeiro" class="form-label">Barbeiro:</label>
                <select name="barbeiro" id="id_barbeiro" class="form-select" required>
                  <option value="" selected disabled>---------</option>
                  {% for barbeiro in barbeiros %}
                    <option value="{{ barbeiro.id }}">{{ barbeiro.nome_barbeiro }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
