{% extends 'base.html' %}
{% load static %}

{% block title %}
  BarberSync
{% endblock %}

{% block content %}
  <div class="container p-5">
    <div class="row">
      <div class="col-md-8">
        <h1>Na Régua</h1>
        <h5>O App que garante o alinhamento</h5>
        <p>Na Régua é a solução para gerenciar sua barbearia. Com nosso sistema, você pode gerenciar compromissos, funcionários, acompanhar o desempenho financeiro e muito mais.</p>
      </div>
      <div class="col-md-4">
        <img src="{% static '' %}" alt="Barbershop" class="img-fluid" />
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-6">
        <h2>Nossos Recursos</h2>
        <ul>
          <li>Agendamento de compromissos online</li>
          <li>Gestão de clientes e funcionários</li>
          <li>Em Breve Relatórios financeiros detalhados</li>
          <li>Em Breve Notificações automáticas de agendamento</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Por que escolher o BarberSync?</h2>
        <p>O BarberSync oferece uma solução completa e personalizável para gerenciar sua barbearia. Nossa equipe está sempre disponível para oferecer suporte e garantir que você aproveite ao máximo nosso sistema.</p>
        <p>Nosso objetivo é ajudá-lo a aumentar a eficiência de sua barbearia, proporcionar uma melhor experiência aos seus clientes e impulsionar o crescimento do seu negócio.</p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-12">
        <h2>Entre em Contato</h2>
        <p>Para mais informações sobre nossos serviços e preços, entre em contato conosco.</p>
        <p>
          <strong>Telefone:</strong> (XX) XXXX-XXXX
        </p>
        <p>
          <strong>Email:</strong> contato@barbersync.com
        </p>
      </div>
    </div>
  </div>
{% endblock %}
