{% load static %}
<!-- Navbar para o restante do sistema -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      Na Régua
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registrar_servico' %}" style="white-space: nowrap;">Registro de serviço</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'area_profissionais' %}" style="white-space: nowrap;">Profissionais</a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" id="copyLinkBtn" style="white-space: nowrap;">Meu link</button>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'exit' %}" style="white-space: nowrap;">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var copyLinkBtn = document.getElementById('copyLinkBtn')
      copyLinkBtn.addEventListener('click', function () {
        var username = '{{ user.username }}'
        var domain = window.location.protocol + '//' + window.location.host
        var link = domain + '/' + username
    
        // Código para copiar o link para a área de agendamentos para a área de transferência
        navigator.clipboard.writeText(link).then(
          function () {
            console.log('Link copiado para a área de transferência: ' + link)
            alert('Link copiado para a área de transferência: ' + link)
          },
          function (err) {
            console.error('Erro ao copiar o link: ', err)
            alert('Erro ao copiar o link.')
          }
        )
      })
    })
  </script>
{% endblock %}
